# Set settings and rename this file to C.C..cfg
# Mainly look over first part of `main' and `confs'
# sections, many other options can be ignored,
# defaults are ok.


[main]
jid = bot@jabber.org/resource
# You can omit resource if you wish (random will be used).
#jid = bot@jabber.org
password = secret
owner_jid = owner@jabber.org

### Boring options. No much profit in changing them.
# Command prefix.
prefix = %
# Time in seconds between reconnect attempts.
reconnect_time = 30
# Maximum message length in unicode symbols.
max_message_length = 2000
# Turn on/off debug.
debug = 0


[confs]
# Default conference nickname.
default_nickname = nickname
# Startup conference list.
# Format: conf@conference.jabber.org[/nickname][:password]
conferences =
    conf1@conference.jabber.org
    conf2@conference.jabber.ru/nickname2
    conf3@conference.xmpp.ru/nickname3:pass
