# Set settings and rename this file to C.C..cfg
# Mainly look over first part of `main' section,
# many other options can be ignored, defaults are ok.

[main]
jid = bot@jabber.org/resourse
# You can omit resource if you wish (random will be used).
#jid = bot@jabber.org
password = secret
owner_jid = owner@jabber.org
# Default conferences nickname.
default_nickname = C.C._bot

### Boring options. No much profit in changing them.
# Command prefix.
prefix = %
# Time in seconds between reconnect attempts.
reconnect_time = 30
# Maximum message length in unicode symbols.
max_message_length = 2000
