# Change default settings and rename this file to config.py

user  = ('username@jabber.ru', 'password', 'Nickname')
rooms = (
    ('room1@conference.jabber.ru', ''),
    ('room2@conference.jabber.org', 'room pass'),
)
owner = ('owner@jabber.ru', '')
# You can set owner nick and send owner commands to bot in the
# conference. Note that owner nick should be registered in order
# to prevent illegal access.
# owner = ('owner@jabber.ru', 'Owner_nick')
