# Copy this file to shitsu.cfg and set jid, password and owner_jid.
# Other options could be ignored, defaults are ok.


[main]
#jid = bot@jabber.org/resource
# You could omit resource if you wish (random will be used).
#jid = bot@jabber.org
#password = secret
# Should be without resource part!
#owner_jid = owner@jabber.org

### Boring options. No much profit in changing them.
# Command prefix.
prefix = %
# Time in seconds between reconnect attempts.
reconnect_time = 10
# Maximum message length in unicode symbols.
# Limits for XHTML will be in 2 times higher
# (u know, xml is so noisy).
max_groupchat_length = 1000
max_chat_length = 5000
# Maximum number of threads running in parallel.
max_threads_num = 5


[confs]
# Default conference nickname.
default_nickname = shitsu
# Startup conference list.
# Format: conf@conference.jabber.org[/nickname][:password]
conferences =
#    lelouch@conference.jabber.org
#    kallen@conference.jabber.ru/C.C.
#    shirley@conference.xmpp.ru/V.V.:password
#    anya@conference.jabber.jp:password


[alias]
%g = %google
%a = %animecal
%s = %showimage
%cjr = %disco $1@conference.jabber.ru
%cjj = %disco $1@conference.jabber.jp
%cjo = %disco $1@conference.jabber.org
